body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #533738;

  background-color: #efe6e4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.header-inner {
  padding: 40px 0 0;

  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #533738;

  text-transform: uppercase;
}

.nav-link {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #533738;

  text-decoration: none;
  margin: 0 13px;
}

.nav-link::after {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #533738;

  transition: 0.4s;
  padding-right: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.header-tel p {
  cursor: pointer;
  color: #533738;
  transition: color 0.2s linear;
}

.header-tel p:hover {
  color: #a82d31;
}

/* Intro */
.intro {
  width: 100%;
  height: 100vh;

  background: #efe6e4 url("../image/intro/background.jpg") center no-repeat;
  background-size: cover;
}

.intro-inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.intro-title {
  max-width: 500px;

  font-family: inherit;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
  color: #533738;

  margin-bottom: 20px;
}

.intro-subtitle {
  max-width: 445px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #533738;

  margin-bottom: 45px;
}

.intro-btn {
  padding: 25px 65px;

  cursor: pointer;

  border: 2px solid #cc8b86;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  color: #533738;

  background-color: #cc8b86;
  transition: background 0.2s linear;
}

.intro-btn:hover {
  background-color: transparent;
}

/* About */
.about-inner {
  margin: 65px 75px;
}

.about-title {
  text-align: center;

  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #533738;

  margin-bottom: 40px;
  text-transform: uppercase;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  width: 50%;
  text-align: center;
  padding-right: 15px;
}

.about-img {
  max-width: 100%;
  height: auto;
}

.about-content {
  width: 50%;
}

.about-content p {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #533738;
}

.about-content p:first-child {
  margin-bottom: 45px;
}

/* Statistics */
.statistics {
  background-color: #8d7370;
  padding: 85px 0;
}

.statistics-inner {
  display: flex;
  flex-wrap: wrap;
}

.statistics-block {
  width: 33.3333%;
  text-align: center;
}

.statistics-number {
  font-size: 50px;
  color: #fff;
}

.statistics-text {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

/* Works */
.works-inner {
  margin: 65px 0;
}

.works-title {
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #533738;

  text-transform: uppercase;

  margin-bottom: 40px;
}

.works-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-item {
  margin: 6px 0;
  position: relative;
  cursor: pointer;
}

.works-item.forty {
  width: 39.5%;
  background-color: #533738;
}

.works-item.sixty {
  width: 59.5%;
  background-color: #533738;
}

.works-img {
  width: 100%;
  display: block;

  height: 100%;
}

.works-info {
  width: 100%;
  padding: 0 15px;

  text-align: center;
  color: #fff;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.works-item:hover .works-img {
  opacity: 0.2;
  transition: opacity 0.4s linear;
}

.works-item:hover .works-info {
  opacity: 1;
}

.works-item-title {
  padding: 0 80px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 500;
  color: #fff;

  margin-bottom: 20px;
}

.works-item-text {
  padding: 0 25px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.works-continue {
  display: flex;
  justify-content: center;

  font-family: inherit;
  font-size: 30px;
  font-weight: 500;
  color: #533738;
  cursor: pointer;

  margin-top: 40px;
}

.works-continue p {
  margin-right: 10px;
}

/* Team */
.team {
  background-color: #e2c4ba;
  padding: 50px 0;
}

.team-inner {
  margin: 0 75px;
}

.team-title,
.team-subtitle {
  text-align: center;

  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #533738;

  margin-bottom: 40px;
  text-transform: uppercase;
}

.team-people {
  display: flex;
  flex-wrap: wrap;
}

.team-block {
  width: 33.33333%;
  padding: 0 19px;
  text-align: center;
  margin-bottom: 30px;
}

.team-img {
  width: 100%;
  height: auto;

  margin-bottom: 15px;
}

.team-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #533738;

  text-align: left;
}

.team-how {
  display: flex;
  flex-wrap: wrap;
}

.team-how-block {
  width: 25%;
  text-align: center;
}

.numeral {
  margin: 0 auto;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 30px;
  background-color: #8d7370;
  border-radius: 50%;
  color: #fff;

  margin-bottom: 20px;
}

.numeral p {
  height: 15px;
  left: 50%;
  position: absolute;
  stroke-width: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  align-items: center;
}

/* Reviews */
.reviews-inner {
  padding: 65px 130px;
  position: relative;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: rotate(180deg);
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 25px;
}

.reviews-title {
  text-align: center;

  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #533738;

  margin-bottom: 40px;
  text-transform: uppercase;
}

.reviews-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviews-content {
  width: 50%;
  padding-right: 20px;
}

.reviews-image {
  width: 50%;
}

.reviews-content {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #533738;
}

.reviews-content p {
  margin-bottom: 50px;
}

.reviews-content:last-child {
  margin-bottom: 0;
}

/* Request */
.request {
  background-color: #8d7370;
}

.request-inner {
  padding: 65px 0;
  display: flex;
}

.request-content {
  width: 50%;
  padding-right: 20px;
}

.request-map {
  width: 50%;
}

.request-title {
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #fff;

  margin-bottom: 35px;
}

.request-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;

  margin-bottom: 45px;
}

.input {
  width: 100%;
  padding: 15px;

  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;

  transition: border 0.2s linear;

  margin-bottom: 30px;
}

.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.input:focus {
  border: 1px solid #fff;
  outline: 0;
}

.request-btn {
  border: 1px solid transparent;
  transition: color 0.2s linear;
}

.request-btn:hover {
  background-color: #cc8b86;
  color: #fff;
  border: 1px solid #fff;
}

/* Footer */
.footer-inner {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-contacts p:first-child {
  margin-right: 40px;
}
